# Download and install requirements

In [ ]:
!pip install -U --no-cache-dir gdown --pre

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.8/dist-packages (4.4.0)
Collecting gdown
  Downloading gdown-4.6.0-py3-none-any.whl (14 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from gdown) (3.8.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2022.9.24)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.7.1)
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.4.0
    Uninstalling gdown-4.4.0:
      Successfully uninstalled gdown-4.4.0
Successfully installed gdown-4.6.0

In [ ]:
!gdown 1ReAkJayHIX6gb4iHFhdv1vKORaLni5m8

Downloading...
From: https://drive.google.com/uc?id=1ReAkJayHIX6gb4iHFhdv1vKORaLni5m8
To: /content/requirements.txt
100% 1.16k/1.16k [00:00<00:00, 1.54MB/s]

In [ ]:
!pip install -r requirements.txt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting anyio==3.6.2
  Downloading anyio-3.6.2-py3-none-any.whl (80 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 80 kB 3.9 MB/s
Collecting argon2-cffi==21.3.0
  Downloading argon2_cffi-21.3.0-py3-none-any.whl (14 kB)
Collecting argon2-cffi-bindings==21.2.0
  Downloading argon2_cffi_bindings-21.2.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (86 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 86 kB 4.7 MB/s
Collecting attrs==21.4.0
  Downloading attrs-21.4.0-py2.py3-none-any.whl (60 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 60 kB 6.6 MB/s
Collecting beautifulsoup4==4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 128 kB 50.0 MB/s
Requirement already satisfied: bleach==5.0.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 6)) (5.0.1)
Requirement already satisfied: cffi==1.15.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 7)) (1.15.1)
Requirement already satisfied: charset-normalizer==2.1.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 8)) (2.1.1)
Requirement already satisfied: defusedxml==0.7.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 9)) (0.7.1)
Requirement already satisfied: fastjsonschema==2.16.2 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 10)) (2.16.2)
Collecting idna==3.4
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 61 kB 121 kB/s
Collecting implicit==0.4.4
  Downloading implicit-0.4.4.tar.gz (1.1 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.1 MB 59.0 MB/s
Collecting importlib-metadata==5.0.0
  Downloading importlib_metadata-5.0.0-py3-none-any.whl (21 kB)
Requirement already satisfied: importlib-resources==5.10.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 14)) (5.10.0)
Requirement already satisfied: ipython-genutils==0.2.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 15)) (0.2.0)
Collecting ipywidgets==7.7.2
  Downloading ipywidgets-7.7.2-py2.py3-none-any.whl (123 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 123 kB 35.6 MB/s
Collecting Jinja2==3.1.2
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 133 kB 54.9 MB/s
Requirement already satisfied: joblib==1.2.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 18)) (1.2.0)
Collecting jsonschema==4.17.0
  Downloading jsonschema-4.17.0-py3-none-any.whl (83 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 83 kB 2.5 MB/s
Collecting jupyter-server==1.23.2
  Downloading jupyter_server-1.23.2-py3-none-any.whl (346 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 346 kB 58.7 MB/s
Collecting jupyterlab-pygments==0.2.2
  Downloading jupyterlab_pygments-0.2.2-py2.py3-none-any.whl (21 kB)
Collecting jupyterlab-widgets==1.1.1
  Downloading jupyterlab_widgets-1.1.1-py3-none-any.whl (245 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 245 kB 56.3 MB/s
Collecting lightfm==1.16
  Downloading lightfm-1.16.tar.gz (310 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 310 kB 56.9 MB/s
Collecting Markdown==3.2.2
  Downloading Markdown-3.2.2-py3-none-any.whl (88 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 88 kB 8.2 MB/s
Collecting MarkupSafe==2.1.1
  Downloading MarkupSafe-2.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25 kB)
Collecting mistune==2.0.4
  Downloading mistune-2.0.4-py2.py3-none-any.whl (24 kB)
Collecting nbclassic==0.4.8
  Downloading nbclassic-0.4.8-py3-none-any.whl (9.8 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9.8 MB 41.4 MB/s
Collecting nbclient==0.7.0
  Downloading nbclient-0.7.0-py3-none-any.whl (71 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 71 kB 178 kB/s
Collecting nbconvert==7.2.5
  Downloading nbconvert-7.2.5-py3-none-any.whl (273 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 273 kB 45.0 MB/s
Requirement already satisfied: nbformat==5.7.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 30)) (5.7.0)
Collecting nmslib==2.1.1
  Downloading nmslib-2.1.1-cp38-cp38-manylinux2010_x86_64.whl (13.4 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 13.4 MB 57.3 MB/s
Collecting notebook==6.5.2
  Downloading notebook-6.5.2-py3-none-any.whl (439 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 439 kB 67.7 MB/s
Collecting notebook_shim==0.2.2
  Downloading notebook_shim-0.2.2-py3-none-any.whl (13 kB)
Requirement already satisfied: pandocfilters==1.5.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 34)) (1.5.0)
Collecting pkgutil_resolve_name==1.3.10
  Downloading pkgutil_resolve_name-1.3.10-py3-none-any.whl (4.7 kB)
Requirement already satisfied: prometheus-client==0.15.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 36)) (0.15.0)
Collecting psutil==5.9.4
  Downloading psutil-5.9.4-cp36-abi3-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (280 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 280 kB 46.9 MB/s
Collecting pybind11==2.6.1
  Downloading pybind11-2.6.1-py2.py3-none-any.whl (188 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 188 kB 56.6 MB/s
Requirement already satisfied: pycparser==2.21 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 39)) (2.21)
Requirement already satisfied: pyrsistent==0.19.2 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 40)) (0.19.2)
Requirement already satisfied: pytz==2022.6 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 41)) (2022.6)
Collecting rectools==0.2.0
  Downloading RecTools-0.2.0-py3-none-any.whl (86 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 86 kB 6.3 MB/s
Collecting requests==2.28.1
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 62 kB 841 kB/s
Requirement already satisfied: scikit-learn==1.0.2 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 44)) (1.0.2)
Requirement already satisfied: scipy==1.7.3 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 45)) (1.7.3)
Requirement already satisfied: Send2Trash==1.8.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 46)) (1.8.0)
Collecting sniffio==1.3.0
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting soupsieve==2.3.2.post1
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Collecting terminado==0.17.0
  Downloading terminado-0.17.0-py3-none-any.whl (16 kB)
Requirement already satisfied: threadpoolctl==3.1.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 50)) (3.1.0)
Collecting tinycss2==1.2.1
  Downloading tinycss2-1.2.1-py3-none-any.whl (21 kB)
Requirement already satisfied: tqdm==4.64.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 52)) (4.64.1)
Collecting traitlets==5.5.0
  Downloading traitlets-5.5.0-py3-none-any.whl (107 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 107 kB 56.7 MB/s
Collecting typeguard==2.13.3
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Collecting urllib3==1.26.12
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 140 kB 69.7 MB/s
Requirement already satisfied: webencodings==0.5.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 56)) (0.5.1)
Collecting websocket-client==1.4.2
  Downloading websocket_client-1.4.2-py3-none-any.whl (55 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 55 kB 3.5 MB/s
Requirement already satisfied: widgetsnbextension==3.6.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 58)) (3.6.1)
Collecting zipp==3.10.0
  Downloading zipp-3.10.0-py3-none-any.whl (6.2 kB)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from bleach==5.0.1->-r requirements.txt (line 6)) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from implicit==0.4.4->-r requirements.txt (line 12)) (1.21.6)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from ipywidgets==7.7.2->-r requirements.txt (line 16)) (5.3.4)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets==7.7.2->-r requirements.txt (line 16)) (7.9.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.8/dist-packages (from jupyter-server==1.23.2->-r requirements.txt (line 20)) (6.1.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from jupyter-server==1.23.2->-r requirements.txt (line 20)) (21.3)
Requirement already satisfied: jupyter-core>=4.7.0 in /usr/local/lib/python3.8/dist-packages (from jupyter-server==1.23.2->-r requirements.txt (line 20)) (5.1.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.8/dist-packages (from jupyter-server==1.23.2->-r requirements.txt (line 20)) (23.2.1)
Collecting tornado>=6.1.0
  Downloading tornado-6.2-cp37-abi3-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (423 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 423 kB 58.0 MB/s
Collecting nest-asyncio>=1.5
  Downloading nest_asyncio-1.5.6-py3-none-any.whl (5.2 kB)
Requirement already satisfied: pygments>=2.4.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert==7.2.5->-r requirements.txt (line 29)) (2.6.1)
Requirement already satisfied: pandas<2.0.0,>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from rectools==0.2.0->-r requirements.txt (line 42)) (1.3.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests==2.28.1->-r requirements.txt (line 43)) (2022.9.24)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.8/dist-packages (from terminado==0.17.0->-r requirements.txt (line 49)) (0.7.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets==7.7.2->-r requirements.txt (line 16)) (2.0.10)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets==7.7.2->-r requirements.txt (line 16)) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets==7.7.2->-r requirements.txt (line 16)) (57.4.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets==7.7.2->-r requirements.txt (line 16)) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets==7.7.2->-r requirements.txt (line 16)) (4.8.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.6 MB 75.4 MB/s
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets==7.7.2->-r requirements.txt (line 16)) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=4.0.0->ipywidgets==7.7.2->-r requirements.txt (line 16)) (0.8.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from jupyter-client>=6.1.12->jupyter-server==1.23.2->-r requirements.txt (line 20)) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.8/dist-packages (from jupyter-core>=4.7.0->jupyter-server==1.23.2->-r requirements.txt (line 20)) (2.5.4)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets==7.7.2->-r requirements.txt (line 16)) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->jupyter-server==1.23.2->-r requirements.txt (line 20)) (3.0.9)
Building wheels for collected packages: implicit, lightfm
  Building wheel for implicit (setup.py) ... done
  Created wheel for implicit: filename=implicit-0.4.4-cp38-cp38-linux_x86_64.whl size=3825468 sha256=5d2b4f965851936c5f5d8ccfe267be2ff1952c22cb73d7e172f83724b2f64c10
  Stored in directory: /root/.cache/pip/wheels/00/ac/67/6f4536c819ed560c2c7e17c0f7a920e3e50c26108616087d05
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.16-cp38-cp38-linux_x86_64.whl size=746171 sha256=74e29c60e515bee305b740277280005eb4eac0580d15514e11b187fd5978b55b
  Stored in directory: /root/.cache/pip/wheels/ec/bb/51/9c487d021c1373b691d13cadca0b65b6852627b1f3f43550fa
Successfully built implicit lightfm
Installing collected packages: zipp, traitlets, pkgutil-resolve-name, attrs, tornado, jsonschema, soupsieve, nest-asyncio, MarkupSafe, tinycss2, sniffio, nbclient, mistune, jupyterlab-pygments, Jinja2, importlib-metadata, idna, beautifulsoup4, argon2-cffi-bindings, websocket-client, terminado, nbconvert, jedi, argon2-cffi, anyio, jupyter-server, notebook-shim, urllib3, nbclassic, requests, pybind11, psutil, notebook, typeguard, nmslib, Markdown, lightfm, jupyterlab-widgets, implicit, rectools, ipywidgets
  Attempting uninstall: zipp
    Found existing installation: zipp 3.11.0
    Uninstalling zipp-3.11.0:
      Successfully uninstalled zipp-3.11.0
  Attempting uninstall: traitlets
    Found existing installation: traitlets 5.6.0
    Uninstalling traitlets-5.6.0:
      Successfully uninstalled traitlets-5.6.0
  Attempting uninstall: attrs
    Found existing installation: attrs 22.1.0
    Uninstalling attrs-22.1.0:
      Successfully uninstalled attrs-22.1.0
  Attempting uninstall: tornado
    Found existing installation: tornado 6.0.4
    Uninstalling tornado-6.0.4:
      Successfully uninstalled tornado-6.0.4
  Attempting uninstall: jsonschema
    Found existing installation: jsonschema 4.3.3
    Uninstalling jsonschema-4.3.3:
      Successfully uninstalled jsonschema-4.3.3
  Attempting uninstall: MarkupSafe
    Found existing installation: MarkupSafe 2.0.1
    Uninstalling MarkupSafe-2.0.1:
      Successfully uninstalled MarkupSafe-2.0.1
  Attempting uninstall: mistune
    Found existing installation: mistune 0.8.4
    Uninstalling mistune-0.8.4:
      Successfully uninstalled mistune-0.8.4
  Attempting uninstall: Jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 4.13.0
    Uninstalling importlib-metadata-4.13.0:
      Successfully uninstalled importlib-metadata-4.13.0
  Attempting uninstall: idna
    Found existing installation: idna 2.10
    Uninstalling idna-2.10:
      Successfully uninstalled idna-2.10
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
  Attempting uninstall: terminado
    Found existing installation: terminado 0.13.3
    Uninstalling terminado-0.13.3:
      Successfully uninstalled terminado-0.13.3
  Attempting uninstall: nbconvert
    Found existing installation: nbconvert 5.6.1
    Uninstalling nbconvert-5.6.1:
      Successfully uninstalled nbconvert-5.6.1
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
  Attempting uninstall: notebook
    Found existing installation: notebook 5.7.16
    Uninstalling notebook-5.7.16:
      Successfully uninstalled notebook-5.7.16
  Attempting uninstall: typeguard
    Found existing installation: typeguard 2.7.1
    Uninstalling typeguard-2.7.1:
      Successfully uninstalled typeguard-2.7.1
  Attempting uninstall: Markdown
    Found existing installation: Markdown 3.4.1
    Uninstalling Markdown-3.4.1:
      Successfully uninstalled Markdown-3.4.1
  Attempting uninstall: jupyterlab-widgets
    Found existing installation: jupyterlab-widgets 3.0.3
    Uninstalling jupyterlab-widgets-3.0.3:
      Successfully uninstalled jupyterlab-widgets-3.0.3
  Attempting uninstall: ipywidgets
    Found existing installation: ipywidgets 7.7.1
    Uninstalling ipywidgets-7.7.1:
      Successfully uninstalled ipywidgets-7.7.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires notebook~=5.7.16, but you have notebook 6.5.2 which is incompatible.
google-colab 1.0.0 requires tornado~=6.0.4, but you have tornado 6.2 which is incompatible.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.1.2 which is incompatible.
Successfully installed Jinja2-3.1.2 Markdown-3.2.2 MarkupSafe-2.1.1 anyio-3.6.2 argon2-cffi-21.3.0 argon2-cffi-bindings-21.2.0 attrs-21.4.0 beautifulsoup4-4.11.1 idna-3.4 implicit-0.4.4 importlib-metadata-5.0.0 ipywidgets-7.7.2 jedi-0.18.2 jsonschema-4.17.0 jupyter-server-1.23.2 jupyterlab-pygments-0.2.2 jupyterlab-widgets-1.1.1 lightfm-1.16 mistune-2.0.4 nbclassic-0.4.8 nbclient-0.7.0 nbconvert-7.2.5 nest-asyncio-1.5.6 nmslib-2.1.1 notebook-6.5.2 notebook-shim-0.2.2 pkgutil-resolve-name-1.3.10 psutil-5.9.4 pybind11-2.6.1 rectools-0.2.0 requests-2.28.1 sniffio-1.3.0 soupsieve-2.3.2.post1 terminado-0.17.0 tinycss2-1.2.1 tornado-6.2 traitlets-5.5.0 typeguard-2.13.3 urllib3-1.26.12 websocket-client-1.4.2 zipp-3.10.0

Import libs

In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import requests
from tqdm.auto import tqdm
from scipy.stats import mode 
from pprint import pprint
from implicit.nearest_neighbours import CosineRecommender
import warnings
warnings.filterwarnings("ignore")

from rectools import Columns
from rectools.dataset import Dataset
from rectools.models.popular import PopularModel 

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)

ModuleNotFoundError: ignored

# ðŸŽ¬ Get KION dataset 

<a href="https://ods.ai/competitions/competition-recsys-21/data"> Dataset description [ru] </a>

In [ ]:
# download dataset by chunks
url = "https://storage.yandexcloud.net/itmo-recsys-public-data/kion_train.zip"

req = requests.get(url, stream=True)

with open('kion_train.zip', "wb") as fd:
    total_size_in_bytes = int(req.headers.get('Content-Length', 0))
    progress_bar = tqdm(desc='kion dataset download', total=total_size_in_bytes, unit='iB', unit_scale=True)
    for chunk in req.iter_content(chunk_size=2 ** 20):
        progress_bar.update(len(chunk))
        fd.write(chunk)

NameError: ignored

In [ ]:
!unzip kion_train.zip

# EDA

In [ ]:
interactions = pd.read_csv('kion_train/interactions.csv')
users = pd.read_csv('kion_train/users.csv')
items = pd.read_csv('kion_train/items.csv')

In [ ]:
# rename columns, convert timestamp
interactions.rename(columns={'last_watch_dt': Columns.Datetime,
                            'total_dur': Columns.Weight}, 
                    inplace=True) 

interactions['datetime'] = pd.to_datetime(interactions['datetime'])

## interactions

In [ ]:
pd.concat([interactions.head(), interactions.tail()])

         user_id  item_id   datetime  weight  watched_pct
0         176549     9506 2021-05-11    4250         72.0
1         699317     1659 2021-05-29    8317        100.0
2         656683     7107 2021-05-09      10          0.0
3         864613     7638 2021-07-05   14483        100.0
4         964868     9506 2021-04-30    6725        100.0
5476246   648596    12225 2021-08-13      76          0.0
5476247   546862     9673 2021-04-13    2308         49.0
5476248   697262    15297 2021-08-20   18307         63.0
5476249   384202    16197 2021-04-19    6203        100.0
5476250   319709     4436 2021-08-15    3921         45.0

In [ ]:
print(f"Interactions dataframe shape: {interactions.shape}")
print(f"Unique users in interactions: {interactions['user_id'].nunique():_}")
print(f"Unique items in interactions: {interactions['item_id'].nunique():_}")

Interactions dataframe shape: (5476251, 5)
Unique users in interactions: 962_179
Unique items in interactions: 15_706

In [ ]:
max_date = interactions['datetime'].max()
min_date = interactions['datetime'].min()

print(f"min date in interactions: {min_date}")
print(f"max date in interactions: {max_date}")

min date in interactions: 2021-03-13 00:00:00
max date in interactions: 2021-08-22 00:00:00

In [ ]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5476251 entries, 0 to 5476250
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   item_id      int64
 2   datetime     datetime64[ns]
 3   weight       int64
 4   watched_pct  float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 208.9 MB

## users

In [ ]:
pd.concat([users.head(), users.tail()])

        user_id         age        income  sex  kids_flg
0        973171   age_25_34  income_60_90    Ðœ         1
1        962099   age_18_24  income_20_40    Ðœ         0
2       1047345   age_45_54  income_40_60    Ð–         0
3        721985   age_45_54  income_20_40    Ð–         0
4        704055   age_35_44  income_60_90    Ð–         0
840192   339025  age_65_inf   income_0_20    Ð–         0
840193   983617   age_18_24  income_20_40    Ð–         1
840194   251008         NaN           NaN  NaN         0
840195   590706         NaN           NaN    Ð–         0
840196   166555  age_65_inf  income_20_40    Ð–         0

In [ ]:
print(f"Users dataframe shape {users.shape}")
print(f"Unique users: {users['user_id'].nunique():_}")

Users dataframe shape (840197, 5)
Unique users: 840_197

## items

In [ ]:
pd.concat([items.head(3), items.tail(3)])

,item_id,content_type,title,title_orig,release_year,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords
0,10711,film,ÐŸÐ¾Ð³Ð¾Ð²Ð¾Ñ€Ð¸ Ñ Ð½ÐµÐ¹,Hable con ella,2002.0,"Ð´Ñ€Ð°Ð¼Ñ‹, Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ, Ð´ÐµÑ‚ÐµÐºÑ‚Ð¸Ð²Ñ‹, Ð¼ÐµÐ»Ð¾Ð´Ñ€Ð°Ð¼Ñ‹",Ð˜ÑÐ¿Ð°Ð½Ð¸Ñ,NaN,16.0,NaN,ÐŸÐµÐ´Ñ€Ð¾ ÐÐ»ÑŒÐ¼Ð¾Ð´Ð¾Ð²Ð°Ñ€,"ÐÐ´Ð¾Ð»ÑŒÑ„Ð¾ Ð¤ÐµÑ€Ð½Ð°Ð½Ð´ÐµÑ, ÐÐ½Ð° Ð¤ÐµÑ€Ð½Ð°Ð½Ð´ÐµÑ, Ð”Ð°Ñ€Ð¸Ð¾ Ð“Ñ€Ð°Ð½Ð´Ð¸Ð½ÐµÑ‚Ñ‚Ð¸, Ð”Ð¶ÐµÑ€Ð°Ð»ÑŒÐ´Ð¸Ð½ Ð§Ð°Ð¿Ð»Ð¸Ð½, Ð•Ð»ÐµÐ½Ð° ÐÐ½Ð°Ð¹Ñ, ÐšÐ°ÑÑ‚Ð°Ð½Ð¾ Ð’ÐµÐ»Ð¾Ð·Ð¾, Ð›ÐµÐ¾Ð½Ð¾Ñ€ Ð£Ð¾Ñ‚Ð»Ð¸Ð½Ð³, Ð›Ð¾Ð»Ð° Ð”ÑƒÑÐ½ÑŒÑÑ, Ð›Ð¾Ð»ÐµÑ Ð›ÐµÐ¾Ð½, ÐœÐ°Ð»Ñƒ ÐÐ¹Ñ€Ð¾Ð´Ð¾, ÐœÐ°Ñ€Ð¸Ð¾Ð»Ð° Ð¤ÑƒÑÐ½Ñ‚ÐµÑ, ÐŸÐ°Ñ Ð’ÐµÐ³Ð°, ÐŸÐ¸Ð½Ð° Ð‘Ð°ÑƒÑˆ, Ð Ð¾...",ÐœÐµÐ»Ð¾Ð´Ñ€Ð°Ð¼Ð° Ð»ÐµÐ³ÐµÐ½Ð´Ð°Ñ€Ð½Ð¾Ð³Ð¾ ÐŸÐµÐ´Ñ€Ð¾ ÐÐ»ÑŒÐ¼Ð¾Ð´Ð¾Ð²Ð°Ñ€Ð° Â«ÐŸÐ¾Ð³Ð¾Ð²Ð¾Ñ€Ð¸ Ñ Ð½ÐµÐ¹Â» Ð² 2003 Ð³Ð¾Ð´Ñƒ Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ð»Ð° Ð¿Ñ€ÐµÐ¼Ð¸ÑŽ Â«ÐžÑÐºÐ°Ñ€Â» Ð·Ð° Ð»ÑƒÑ‡ÑˆÐ¸Ð¹ ÑÑ†ÐµÐ½Ð°Ñ€Ð¸Ð¹. Ð–ÑƒÑ€Ð½Ð°Ð»Ð¸ÑÑ‚ ÐœÐ°Ñ€ÐºÐ¾ Ð±ÐµÑ€ÐµÑ‚ Ð¸Ð½Ñ‚ÐµÑ€Ð²ÑŒÑŽ Ñƒ Ð·Ð½Ð°Ð¼ÐµÐ½Ð¸Ñ‚Ð¾Ð¹ Ð¶ÐµÐ½Ñ‰Ð¸Ð½Ñ‹-Ñ‚Ð¾Ñ€ÐµÑ€Ð¾ Ð›Ð¸Ð´Ð¸Ð¸ Ð¸ Ð²ÑÐºÐ¾Ñ€Ðµ Ð²Ð»ÑŽÐ±Ð»ÑÐµ...,"ÐŸÐ¾Ð³Ð¾Ð²Ð¾Ñ€Ð¸, Ð½ÐµÐ¹, 2002, Ð˜ÑÐ¿Ð°Ð½Ð¸Ñ, Ð´Ñ€ÑƒÐ·ÑŒÑ, Ð»ÑŽÐ±Ð¾Ð²ÑŒ, ÑÐ¸Ð»ÑŒÐ½Ñ‹Ðµ, Ð¶ÐµÐ½Ñ‰Ð¸Ð½Ñ‹, Ð¿Ñ€ÐµÐ¾Ð´Ð¾Ð»ÐµÐ½Ð¸Ðµ, Ñ‚Ñ€ÑƒÐ´Ð½Ð¾ÑÑ‚ÐµÐ¹, Ð¾Ñ‚Ð½Ð¾ÑˆÐµÐ½Ð¸Ñ, Ð´Ñ€ÑƒÐ¶Ð±Ð°, Ð¾Ñ‚Ð½Ð¾ÑˆÐµÐ½Ð¸Ñ, Ð¿Ð°Ñ€Ðµ, Ð¾Ñ‚Ð½Ð¾ÑˆÐµÐ½Ð¸Ñ, Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½Ñ‹, Ð¶ÐµÐ½Ñ‰Ð¸Ð½Ñ‹, Ñ€Ð¾Ð¼Ð°Ð½Ñ‚Ð¸Ñ‡ÐµÑÐºÐ¸Ðµ, Ð¾Ñ‚Ð½Ð¾ÑˆÐµÐ½Ð¸Ñ, Ð¿Ð¾Ñ‚ÐµÑ€Ñ, Ð±Ð»Ð¸Ð·ÐºÐ¸Ñ…,..."
1,2508,film,Ð“Ð¾Ð»Ñ‹Ðµ Ð¿ÐµÑ€Ñ†Ñ‹,Search Party,2014.0,"Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ, Ð¿Ñ€Ð¸ÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ñ, ÐºÐ¾Ð¼ÐµÐ´Ð¸Ð¸",Ð¡Ð¨Ð,NaN,16.0,NaN,Ð¡ÐºÐ¾Ñ‚ ÐÑ€Ð¼ÑÑ‚Ñ€Ð¾Ð½Ð³,"ÐÐ´Ð°Ð¼ ÐŸÐ°Ð»Ð»Ð¸, Ð‘Ñ€Ð°Ð¹Ð°Ð½ Ð¥Ð°ÑÐºÐ¸, Ð”Ð¶.Ð‘. Ð¡Ð¼ÑƒÐ², Ð”Ð¶ÐµÐ¹ÑÐ¾Ð½ ÐœÐ°Ð½Ñ†ÑƒÐºÐ°Ñ, Ð”Ð¶Ð¾Ð½ Ð“Ð»ÐµÐ¹ÑÐµÑ€, ÐšÐ°Ñ€Ð» Ð“Ñ€Ð¸Ð½, ÐšÑ€Ð¸ÑÑ‚ÐµÐ½ Ð Ð¸Ñ‚Ñ‚ÐµÑ€, Ð›ÑÐ½Ñ Ð ÐµÐ´Ð´Ð¸Ðº, ÐœÐ¾Ñ€Ð¸Ñ ÐšÐ¾Ð¼Ñ‚, ÐŸÐ°Ñ‚Ñ€Ð¸Ðº ÐšÐµÑ€Ð½Ñ, Ð ÐµÐ±ÐµÐºÐºÐ° ÐšÐ¾Ð»Ð»Ð¸Ð½Ð·, Ð Ð¾Ð·Ð° Ð¡Ð°Ð»Ð°Ð·Ð°Ñ€, Ð Ð¾ÑÑ ÐŸ. ÐšÑƒÐº, Ð¡Ñ‚ÐµÑ„Ñ„Ð¸ Ð“Ñ€Ð¾ÑƒÑ‚, Ð¢Ð¸...","Ð£Ð¼Ð¾Ñ€Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð°Ñ ÑÐ¾Ð²Ñ€ÐµÐ¼ÐµÐ½Ð½Ð°Ñ ÐºÐ¾Ð¼ÐµÐ´Ð¸Ñ Ð½Ð° Ð¿Ð¾Ð¿ÑƒÐ»ÑÑ€Ð½ÑƒÑŽ Ñ‚ÐµÐ¼Ñƒ Ð¾ Ñ‚Ð¾Ð¼, ÐºÐ°Ðº Ð½Ðµ Ð½Ð°Ð´Ð¾ Ð¾Ñ‚Ð¼ÐµÑ‡Ð°Ñ‚ÑŒ Ð¼Ð°Ð»ÑŒÑ‡Ð¸ÑˆÐ½Ð¸Ðº. Ð“Ð»Ð°Ð²Ð½Ñ‹Ð¹ Ð³ÐµÑ€Ð¾Ð¹ ÑƒÑÐ²Ð¾Ð¸Ð», Ñ‡Ñ‚Ð¾ Ð½Ðµ Ð½Ð°Ð´Ð¾ Ð·Ð²Ð°Ñ‚ÑŒ Ð½Ð° ÑÐ²Ð°Ð´ÑŒÐ±Ñƒ ÑÐ²Ð¾ÐµÐ³Ð¾ Ð´Ñ€ÑƒÐ³Ð° Ð”Ð¶ÐµÐ¹ÑÐ¾Ð½Ð°, Ð¸Ð·-Ð·Ð° ÐºÐ¾Ñ‚Ð¾Ñ€Ð¾Ð³Ð¾ Ð¾Ð½ Ð²Ð¼ÐµÑÑ‚Ð¾ ÑÐ²Ð°Ð´Ðµ...","Ð“Ð¾Ð»Ñ‹Ðµ, Ð¿ÐµÑ€Ñ†Ñ‹, 2014, Ð¡Ð¨Ð, Ð´Ñ€ÑƒÐ·ÑŒÑ, ÑÐ²Ð°Ð´ÑŒÐ±Ñ‹, Ð¿Ñ€ÐµÐ¾Ð´Ð¾Ð»ÐµÐ½Ð¸Ðµ, Ñ‚Ñ€ÑƒÐ´Ð½Ð¾ÑÑ‚ÐµÐ¹, Ñ€Ð°ÑÑÑ‚Ð°Ð²Ð°Ð½Ð¸Ñ, Ð¾Ñ‚Ð½Ð¾ÑˆÐµÐ½Ð¸Ñ, Ð´Ñ€ÑƒÐ¶Ð±Ð°, Ñ€Ð¸ÑÐº, Ð½ÐµÐ´Ð¾Ñ€Ð°Ð·ÑƒÐ¼ÐµÐ½Ð¸Ðµ, Ð¼ÑƒÐ¶ÑÐºÐ°Ñ, Ð´Ñ€ÑƒÐ¶Ð±Ð°, Ð¼Ð°Ð»ÑŒÑ‡Ð¸ÑˆÐ½Ð¸ÐºÐ¸, Ð´ÐµÐ²Ð¸Ñ‡Ð½Ð¸ÐºÐ¸"
2,10716,film,Ð¢Ð°ÐºÑ‚Ð¸Ñ‡ÐµÑÐºÐ°Ñ ÑÐ¸Ð»Ð°,Tactical Force,2011.0,"ÐºÑ€Ð¸Ð¼Ð¸Ð½Ð°Ð», Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ, Ñ‚Ñ€Ð¸Ð»Ð»ÐµÑ€Ñ‹, Ð±Ð¾ÐµÐ²Ð¸ÐºÐ¸, ÐºÐ¾Ð¼ÐµÐ´Ð¸Ð¸",ÐšÐ°Ð½Ð°Ð´Ð°,NaN,16.0,NaN,ÐÐ´Ð°Ð¼ ÐŸ. ÐšÐ°Ð»Ñ‚Ñ€Ð°Ñ€Ð¾,"ÐÐ´Ñ€Ð¸Ð°Ð½ Ð¥Ð¾Ð»Ð¼Ñ, Ð”Ð°Ñ€Ñ€ÐµÐ½ Ð¨Ð°Ð»Ð°Ð²Ð¸, Ð”Ð¶ÐµÑ€Ñ€Ð¸ Ð’Ð°ÑÑÐµÑ€Ð¼Ð°Ð½, Ð”ÑÐ½ Ð Ð¸Ð·Ð·ÑƒÑ‚Ð¾, ÐšÐµÐ½Ð´ÐµÑ Ð˜Ð»ÑÐ¹Ð½ ÐšÐ°Ð»Ñ‚Ñ€Ð°Ñ€Ð¾, ÐšÐ¸Ñ‚ Ð”Ð¶Ð°Ñ€Ð´Ð¸Ð½, Ð›ÐµÐºÑÐ° Ð”Ð¾Ð¹Ð³, ÐœÐ°Ð¹ÐºÐ» Ð”Ð¶ÐµÐ¹ Ð£Ð°Ð¹Ñ‚, ÐœÐ°Ð¹ÐºÐ» Ð¨ÑÐ½ÐºÑ, ÐœÐ°Ð¹ÐºÐ» Ð­ÐºÐ»ÑƒÐ½Ð´, ÐŸÐ¸Ñ‚ÐµÑ€ Ð‘Ñ€Ð°Ð¹Ð°Ð½Ñ‚, ÐŸÐ¸Ñ‚ÐµÑ€ ÐšÐµÐ½Ñ‚, Ð¡Ñ‚Ð¸Ð² Ð‘Ð°Ñ‡Ð¸Ñ‡, Ð¡Ñ‚Ð¸Ð² ...","ÐŸÑ€Ð¾Ñ„ÐµÑÑÐ¸Ð¾Ð½Ð°Ð»ÑŒÐ½Ñ‹Ð¹ Ñ€ÐµÑÑ‚Ð»ÐµÑ€ Ð¡Ñ‚Ð¸Ð² ÐžÑÑ‚Ð¸Ð½ (Â«Ð’ÑÐµ Ð¸Ð»Ð¸ Ð½Ð¸Ñ‡ÐµÐ³Ð¾Â») Ð¸ Ñ‚ÐµÐ¼Ð½Ð¾ÐºÐ¾Ð¶Ð¸Ð¹ Ð¼Ð°Ñ‡Ð¾ ÐœÐ°Ð¹ÐºÐ» Ð”Ð¶ÐµÐ¹ Ð£Ð°Ð¹Ñ‚ (Â«Ð¢ÐµÐ¼Ð½Ñ‹Ð¹ Ñ€Ñ‹Ñ†Ð°Ñ€ÑŒÂ») Ð² Ð¸Ð½Ñ‚Ñ€Ð¸Ð³ÑƒÑŽÑ‰ÐµÐ¼ ÐºÑ€Ð¸Ð¼Ð¸Ð½Ð°Ð»ÑŒÐ½Ð¾Ð¼ Ð±Ð¾ÐµÐ²Ð¸ÐºÐµ. Ð’ Ñ†ÐµÐ½Ñ‚Ñ€Ðµ ÑÑŽÐ¶ÐµÑ‚Ð° â€“ ÐºÐ¾Ð¼Ð°Ð½Ð´Ð° ÑÐ¿ÐµÑ†Ð½Ð°Ð·Ð¾Ð²Ñ†ÐµÐ², ÐºÐ¾Ñ‚Ð¾Ñ€Ð°Ñ Ð¾ÐºÐ°Ð·Ð°...","Ð¢Ð°ÐºÑ‚Ð¸Ñ‡ÐµÑÐºÐ°Ñ, ÑÐ¸Ð»Ð°, 2011, ÐšÐ°Ð½Ð°Ð´Ð°, Ð±Ð°Ð½Ð´Ð¸Ñ‚Ñ‹, Ð³Ð°Ð½Ð³ÑÑ‚ÐµÑ€Ñ‹, Ð¿Ñ€ÐµÑÑ‚ÑƒÐ¿Ð»ÐµÐ½Ð¸Ñ, Ð¿Ñ€ÐµÐ¾Ð´Ð¾Ð»ÐµÐ½Ð¸Ðµ, Ñ‚Ñ€ÑƒÐ´Ð½Ð¾ÑÑ‚ÐµÐ¹, ÑƒÐ±Ð¸Ð¹ÑÑ‚Ð²Ð°, ÑƒÐ±Ð¸Ð¹Ñ†Ñ‹, Ð½Ð°ÑÑ‚Ð¾ÑÑ‰Ð¸Ðµ, Ð¼ÑƒÐ¶Ñ‡Ð¸Ð½Ñ‹, Ñ€Ð¸ÑÐº, Ð½ÐµÐ´Ð¾Ñ€Ð°Ð·ÑƒÐ¼ÐµÐ½Ð¸Ðµ, ÑÐ¸Ð»Ñ‹, Ð¿Ñ€Ð°Ð²Ð¾Ð¿Ð¾Ñ€ÑÐ´ÐºÐ°, Ð±Ð¾Ñ€ÑŒÐ±Ð°, Ð·Ð°, Ð²Ñ‹Ð¶Ð¸Ð²Ð°Ð½Ð¸Ðµ, ÑÐ¿..."
15960,10632,series,Ð¡Ð³Ð¾Ð²Ð¾Ñ€,Hassel,2017.0,"Ð´Ñ€Ð°Ð¼Ñ‹, Ñ‚Ñ€Ð¸Ð»Ð»ÐµÑ€Ñ‹, ÐºÑ€Ð¸Ð¼Ð¸Ð½Ð°Ð»",Ð Ð¾ÑÑÐ¸Ñ,0.0,18.0,NaN,"Ð­ÑˆÑ€ÐµÑ„ Ð ÐµÐ¹Ð±Ñ€ÑƒÐº, ÐÐ¼Ð¸Ñ€ ÐšÐ°Ð¼Ð´Ð¸Ð½, Ð­Ñ€Ð¸Ðº Ð­Ð³ÐµÑ€","ÐžÐ»Ð° Ð Ð°Ð¿Ð°Ñ, ÐÐ»Ð¸ÐµÑ‚Ñ‚ ÐžÑ„ÐµÐ¹Ð¼, Ð£Ð¸Ð»ÑŒÐ¼Ð° Ð›Ð¸Ð´ÐµÐ½, Ð¨Ð°Ð½Ñ‚Ð¸ Ð Ð¾Ð½Ð¸, Ð¢Ð¾Ð¼Ð° Ð¥Ð¾Ð»Ð¼Ð¸Ð½","ÐšÑ€Ð¸Ð¼Ð¸Ð½Ð°Ð»ÑŒÐ½Ð°Ñ Ð´Ñ€Ð°Ð¼Ð° Ð¿Ð¾ Ð¼Ð¾Ñ‚Ð¸Ð²Ð°Ð¼ Ñ€Ð¾Ð¼Ð°Ð½Ð¾Ð² Ð¾ ÑˆÐ²ÐµÐ´ÑÐºÐ¾Ð¼ Ð´ÐµÑ‚ÐµÐºÑ‚Ð¸Ð²Ðµ Ð Ð¾Ð»Ð°Ð½Ð´Ðµ Ð¥Ð°ÑÑÐµÐ»Ðµ. Ð¡Ñ€ÐµÐ´ÑŒ Ð±ÐµÐ»Ð° Ð´Ð½Ñ ÑƒÐ±Ð¸Ñ‚ Ð¿Ð¾Ð»Ð¸Ñ†ÐµÐ¹ÑÐºÐ¸Ð¹, Ð¸ Ð½Ð¸Ñ‚Ð¸ Ð² ÑÑ‚Ð¾Ð¼ Ð´ÐµÐ»Ðµ Ð²ÐµÐ´ÑƒÑ‚ Ð¿Ñ€ÑÐ¼Ð¾ Ð² ÐºÐ¾Ñ€Ð¸Ð´Ð¾Ñ€Ñ‹ Ð²Ð»Ð°ÑÑ‚Ð¸. Ð Ð°ÑÑÐ»ÐµÐ´Ð¾Ð²Ð°Ð½Ð¸ÐµÐ¼ Ð·Ð°Ð½Ð¸Ð¼Ð°ÐµÑ‚ÑÑ Ð´ÐµÑ‚ÐµÐºÑ‚Ð¸Ð² Ð¥Ð°...","Ð¡Ð³Ð¾Ð²Ð¾Ñ€, 2017, Ð Ð¾ÑÑÐ¸Ñ"
15961,4538,series,Ð¡Ñ€ÐµÐ´Ð¸ ÐºÐ°Ð¼Ð½ÐµÐ¹,Darklands,2019.0,"Ð´Ñ€Ð°Ð¼Ñ‹, ÑÐ¿Ð¾Ñ€Ñ‚, ÐºÑ€Ð¸Ð¼Ð¸Ð½Ð°Ð»",Ð Ð¾ÑÑÐ¸Ñ,0.0,18.0,NaN,"ÐœÐ°Ñ€Ðº Ðžâ€™ÐšÐ¾Ð½Ð½Ð¾Ñ€, ÐšÐ¾Ð½Ð¾Ñ€ ÐœÐ°ÐºÐœÐ°Ñ…Ð¾Ð½","Ð”ÑÐ¹Ð½ Ð£Ð°Ð¹Ñ‚ Ðžâ€™Ð¥Ð°Ñ€Ð°, Ð¢Ð¾Ð¼Ð°Ñ ÐšÑÐ¹Ð½-Ð‘Ð¸Ñ€Ð½, Ð”Ð¶ÑƒÐ´Ð¸Ñ‚ Ð Ð¾Ð´Ð´Ð¸, ÐœÐ°Ñ€Ðº Ðžâ€™Ð¥Ð°Ð»Ð»Ð¾Ñ€Ð°Ð½, Ð”Ð¶Ð¸Ð¼Ð¼Ð¸ Ð¡Ð¼Ð¾Ð»Ð»Ñ…Ð¾Ñ€Ð½","Ð¡ÐµÐ¼Ð½Ð°Ð´Ñ†Ð°Ñ‚Ð¸Ð»ÐµÑ‚Ð½Ð¸Ð¹ Ð”ÑÐ¼Ð¸ÐµÐ½ Ð¼ÐµÑ‡Ñ‚Ð°ÐµÑ‚ Ð²Ñ‹Ñ€Ð²Ð°Ñ‚ÑŒÑÑ Ð·Ð° Ð¿Ñ€ÐµÐ´ÐµÐ»Ñ‹ ÑÐ²Ð¾ÐµÐ³Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ð° Ð¸ ÑÑ‚Ð°Ñ‚ÑŒ Ð¿Ñ€Ð¾Ñ„ÐµÑÑÐ¸Ð¾Ð½Ð°Ð»ÑŒÐ½Ñ‹Ð¼ Ð±Ð¾Ð¹Ñ†Ð¾Ð¼. ÐšÐ¾Ð³Ð´Ð° ÐµÐ³Ð¾ ÐºÑƒÐ¼Ð¸Ñ€ Ð¸ ÑÑ‚Ð°Ñ€ÑˆÐ¸Ð¹ Ð±Ñ€Ð°Ñ‚ Ð¸ÑÑ‡ÐµÐ·Ð°ÐµÑ‚, Ð¿Ð°Ñ€ÐµÐ½ÑŒ Ð¿Ð¾Ð¿Ð°Ð´Ð°ÐµÑ‚ Ð² Ñ‡ÑƒÐ¶Ð´Ñ‹Ð¹ ÐµÐ¼Ñƒ Ð¼Ð¸Ñ€ Ð½Ð°ÑÐ¸Ð»Ð¸Ñ, Ð½Ð°Ñ€ÐºÐ¾Ñ‚Ð¸ÐºÐ¾Ð² Ð¸ ...","Ð¡Ñ€ÐµÐ´Ð¸, ÐºÐ°Ð¼Ð½ÐµÐ¹, 2019, Ð Ð¾ÑÑÐ¸Ñ"
15962,3206,series,Ð“Ð¾ÑˆÐ°,NaN,2019.0,ÐºÐ¾Ð¼ÐµÐ´Ð¸Ð¸,Ð Ð¾ÑÑÐ¸Ñ,0.0,16.0,NaN,ÐœÐ¸Ñ…Ð°Ð¸Ð» ÐœÐ¸Ñ€Ð¾Ð½Ð¾Ð²,"ÐœÐºÑ€Ñ‚Ñ‹Ñ‡ ÐÑ€Ð·ÑƒÐ¼Ð°Ð½ÑÐ½, Ð’Ð¸ÐºÑ‚Ð¾Ñ€Ð¸Ñ Ð ÑƒÐ½Ñ†Ð¾Ð²Ð°","Ð”Ð¾Ð±Ñ€Ð¾Ð´ÑƒÑˆÐ½Ñ‹Ð¹ Ð“Ð¾ÑˆÐ° Ð½Ðµ Ð¼Ð¾Ð¶ÐµÑ‚ Ð²Ñ‹Ð¹Ñ‚Ð¸ Ð¸Ð· Ð´Ð¾Ð¼Ð°, Ñ‡Ñ‚Ð¾Ð±Ñ‹ Ð½Ðµ Ð¿Ð¾Ð¿Ð°ÑÑ‚ÑŒ Ð² Ð½ÐµÐ»ÐµÐ¿ÑƒÑŽ Ð¸ ÐºÑƒÑ€ÑŒÑ‘Ð·Ð½ÑƒÑŽ Ð¸ÑÑ‚Ð¾Ñ€Ð¸ÑŽ. ÐÐ¾ Ð´Ð°Ð¶Ðµ Ð½ÐµÑƒÐ´Ð°Ñ‡Ð½Ð¸ÐºÐ¸ Ð¼ÐµÑ‡Ñ‚Ð°ÑŽÑ‚ Ð¾ Ð»ÑŽÐ±Ð²Ð¸, Ð¸ Ð½Ð°Ñˆ Ð³ÐµÑ€Ð¾Ð¹ â€” Ð½Ðµ Ð¸ÑÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ðµ, Ð²ÐµÐ´ÑŒ Ð¾Ð¿Ñ‚Ð¸Ð¼Ð¸Ð·Ð¼Ð° ÐµÐ¼Ñƒ Ð½Ðµ Ð·Ð°Ð½Ð¸Ð¼Ð°Ñ‚ÑŒ.","Ð“Ð¾ÑˆÐ°, 2019, Ð Ð¾ÑÑÐ¸Ñ"

In [ ]:
print(f"Items dataframe shape {items.shape}")
print(f"Unique item_id: {items['item_id'].nunique():_}")

Items dataframe shape (15963, 14)
Unique item_id: 15_963

# ðŸ§© New model: from `itemkNN` to `userkNN `

- we'll use `implicit.nearest_neighbours` itemKNN model and convert it to userkNN model

## 0.1 train test split

In [ ]:
# train test split 
# test = last 1 week 
from rectools.model_selection import TimeRangeSplit

n_folds = 1
unit = "W"
n_units = 1
periods = n_folds + 1
freq = f"{n_units}{unit}"

last_date = interactions[Columns.Datetime].max().normalize()
start_date = last_date - pd.Timedelta(n_folds * n_units + 1, unit=unit)  
print(f"Start date and last date of the test fold: {start_date, last_date}")
    
date_range = pd.date_range(start=start_date, periods=periods, freq=freq, tz=last_date.tz)
print(f"Test fold borders: {date_range.values.astype('datetime64[D]')}")

# generator of folds
cv = TimeRangeSplit(
    date_range=date_range,
    filter_already_seen=True,
    filter_cold_items=True,
    filter_cold_users=True,
)
print(f"Real number of folds: {cv.get_n_splits(interactions)}")

Start date and last date of the test fold: (Timestamp('2021-08-08 00:00:00'), Timestamp('2021-08-22 00:00:00'))
Test fold borders: ['2021-08-08' '2021-08-15']
Real number of folds: 1

In [ ]:
# we have just 1 test fold - no need to iterate over fold
(train_ids, test_ids, fold_info) = cv.split(interactions, collect_fold_stats=True).__next__()

In [ ]:
train_ids

array([      0,       1,       2, ..., 5476245, 5476247, 5476249])

In [ ]:
test_ids

array([      6,      33,      56, ..., 5476229, 5476230, 5476240])

## 0.2 Prepare data (`dataset` object for rectools)
## Construct item features (`release_year` and `genre`)

**1. binarize years in release_year feature**

In [ ]:
_, bins = pd.qcut(items["release_year"], 10, retbins=True)
labels = bins[:-1]

year_feature = pd.DataFrame(
    {
        "id": items["item_id"],
        "value": pd.cut(items["release_year"], bins=bins, labels=bins[:-1]),
        "feature": "release_year",
    }
)
year_feature.head()

      id   value       feature
0  10711  1983.0  release_year
1   2508  2012.0  release_year
2  10716  2009.0  release_year
3   7868  2014.0  release_year
4  16268  1897.0  release_year

**2. split genres into list**

In [ ]:
items["genre"] = items["genres"].str.split(",")
items[["genre", "genres"]].head(3)

,genre,genres
0,"[Ð´Ñ€Ð°Ð¼Ñ‹, Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ, Ð´ÐµÑ‚ÐµÐºÑ‚Ð¸Ð²Ñ‹, Ð¼ÐµÐ»Ð¾Ð´Ñ€Ð°Ð¼Ñ‹]","Ð´Ñ€Ð°Ð¼Ñ‹, Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ, Ð´ÐµÑ‚ÐµÐºÑ‚Ð¸Ð²Ñ‹, Ð¼ÐµÐ»Ð¾Ð´Ñ€Ð°Ð¼Ñ‹"
1,"[Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ, Ð¿Ñ€Ð¸ÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ñ, ÐºÐ¾Ð¼ÐµÐ´Ð¸Ð¸]","Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ, Ð¿Ñ€Ð¸ÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ñ, ÐºÐ¾Ð¼ÐµÐ´Ð¸Ð¸"
2,"[ÐºÑ€Ð¸Ð¼Ð¸Ð½Ð°Ð», Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ, Ñ‚Ñ€Ð¸Ð»Ð»ÐµÑ€Ñ‹, Ð±Ð¾ÐµÐ²Ð¸ÐºÐ¸, ÐºÐ¾Ð¼ÐµÐ´Ð¸Ð¸]","ÐºÑ€Ð¸Ð¼Ð¸Ð½Ð°Ð», Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ, Ñ‚Ñ€Ð¸Ð»Ð»ÐµÑ€Ñ‹, Ð±Ð¾ÐµÐ²Ð¸ÐºÐ¸, ÐºÐ¾Ð¼ÐµÐ´Ð¸Ð¸"

In [ ]:
genre_feature = items[["item_id", "genre"]].explode("genre")
genre_feature.columns = ["id", "value"]
genre_feature["feature"] = "genre"
genre_feature.head()

      id        value feature
0  10711        Ð´Ñ€Ð°Ð¼Ñ‹   genre
0  10711   Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ   genre
0  10711    Ð´ÐµÑ‚ÐµÐºÑ‚Ð¸Ð²Ñ‹   genre
0  10711    Ð¼ÐµÐ»Ð¾Ð´Ñ€Ð°Ð¼Ñ‹   genre
1   2508   Ð·Ð°Ñ€ÑƒÐ±ÐµÐ¶Ð½Ñ‹Ðµ   genre

In [ ]:
item_feat = pd.concat([genre_feature, year_feature])
item_feat = item_feat[item_feat['id'].isin(interactions.loc[train_ids]['item_id'])]

## 0.3 Construct `dataset` object to fit popular model

In [ ]:
dataset = Dataset.construct(
    interactions_df=interactions.loc[train_ids],
    user_features_df=None,
    item_features_df=item_feat,
    cat_item_features=['genre', 'release_year']
)

# 1. Prepare train matrix

### 1.1 Create `user` and `item` mappings (essential part for recsys models) 

users_mapping = `{user0: 0, user1: 1, ... , userN: N}`

items_mapping = `{item0: 0, item1: 1, ... , itemK: K}`

In [ ]:
train = interactions.loc[train_ids]
test = interactions.loc[test_ids]

In [ ]:
users_inv_mapping = dict(enumerate(train['user_id'].unique()))
users_mapping = {v: k for k, v in users_inv_mapping.items()}

In [ ]:
items_inv_mapping = dict(enumerate(train['item_id'].unique()))
items_mapping = {v: k for k, v in items_inv_mapping.items()}

In [ ]:
print(f"users_mapping amount: {len(users_mapping)}")
print(f"items_mapping amount: {len(items_mapping)}")

users_mapping amount: 842129
items_mapping amount: 15404

### 2.2 Get sparse matrix

In [ ]:
def get_coo_matrix(df, 
                   user_col='user_id', 
                   item_col='item_id', 
                   weight_col=None, 
                   users_mapping=None, 
                   items_mapping=None):
    if weight_col:
        weights = df[weight_col].astype(np.float32)
    else:
        weights = np.ones(len(df), dtype=np.float32)

    interaction_matrix = sp.sparse.coo_matrix((
        weights, 
        (
            df[user_col].map(users_mapping.get), 
            df[item_col].map(items_mapping.get)
        )
    ))
    return interaction_matrix

In [ ]:
interaction_matrix = get_coo_matrix(train, weight_col='weight',
                                    users_mapping=users_mapping, 
                                    items_mapping=items_mapping)

In [ ]:
interaction_matrix

<842129x15404 sparse matrix of type '<class 'numpy.float32'>'
	with 4587708 stored elements in COOrdinate format>

## 2. Fit simple ItemKNN model 

### `userknn disclaimer`:

implicit ItemItemRecommender requires `item-user matrix` (not `user-item` !) => ususally you call fit with transposed weights matrix `model.fit(matrix.T)`. That's how you get item's nearest neighbours. 

but for `the userknn model` we want to have **user** neighbours (not item neighbours). that's why we need to call fit **without transpose**: `model.fit(matrix)`

https://github.com/benfred/implicit/blob/main/implicit/nearest_neighbours.py

In [ ]:
userknn = CosineRecommender(K=30)
userknn.fit(interaction_matrix)

In [ ]:
pop = PopularModel()
pop.fit(dataset);

In [ ]:
# save model
import dill

with open('userknn.dill', 'wb') as f:
    dill.dump(userknn, f)

with open('popular.dill', 'wb') as f:
    dill.dump(pop, f)

In [ ]:
with open('popular.dill', 'rb') as f:
    pop = dill.load(f)

with open('userknn.dill', 'rb') as f:
    userknn = dill.load(f)

In [ ]:
userknn.similar_items(1)

[(1, 1.0000000098018893),
 (773911, 0.36543191174204726),
 (115615, 0.3610291122122819),
 (422766, 0.3590583883643988),
 (46469, 0.35822138476497434),
 (338851, 0.3544897034750306),
 (733896, 0.35448970121073087),
 (575, 0.35448970086392395),
 (38208, 0.35448970086392395),
 (289064, 0.35448970086392395)]

## 3. Recommend to get user neighbours

In [ ]:
def generate_implicit_recs_mapper(model, N, users_mapping, users_inv_mapping):
    def _recs_mapper(user):
        user_id = users_mapping[user]
        recs = model.similar_items(user_id, N=N)
        return [users_inv_mapping[user] for user, _ in recs], [sim for _, sim in recs]
    return _recs_mapper

In [ ]:
mapper = generate_implicit_recs_mapper(
    userknn, 
    N=30,
    users_mapping=users_mapping,
    users_inv_mapping=users_inv_mapping
)

In [ ]:
recs = pd.DataFrame({
    'user_id': test['user_id'].unique()
})

recs['similar_user_id'], recs['similarity'] = zip(*recs['user_id'].map(mapper))
recs.head()

,user_id,similar_user_id,similarity
0,1016458,"[1016458, 416417, 859673, 494256, 414523, 254272, 101745, 50573, 55914, 589357, 979361, 742779, 207723, 313525, 911195, 85581, 290121, 797403, 141043, 852836, 820008, 442744, 644153, 545951, 30646...","[1.0000000098027124, 0.6143665279318272, 0.6115098337111928, 0.6031119652865972, 0.6016035410642744, 0.5956601420097666, 0.5951893645435953, 0.5910982730574769, 0.5901959801548787, 0.5899352526319..."
1,68478,"[68478, 20161, 412019, 620526, 695810, 879494, 589849, 988152, 691867, 594451, 871777, 739170, 675522, 543247, 267635, 206217, 737870, 193350, 194019, 458371, 667204, 859502, 81277, 670738, 106863...","[0.9999999999999997, 0.7739892962350301, 0.7739892916809104, 0.7739892904471841, 0.7739892904471841, 0.7739728844372993, 0.773732938463484, 0.7731990156224964, 0.764299456592446, 0.737170322866436..."
2,580093,"[580093, 937473, 86046, 262791, 522603, 521456, 515818, 654291, 1009888, 333513, 788102, 485193, 212614, 328346, 789077, 541830, 530175, 564927, 964340, 555363, 496146, 684866, 674955, 227906, 210...","[0.999999972768243, 0.98170707253408, 0.9816027812180024, 0.9811408740629928, 0.9809446394117618, 0.9804554967089238, 0.9787225812866681, 0.9780463490829185, 0.9761219827587835, 0.9753862067490225..."
3,1072552,"[1072552, 1022231, 449057, 639316, 38521, 992547, 401940, 613583, 184399, 33572, 570020, 739950, 49193, 246357, 162216, 717003, 111832, 896269, 941748, 932452, 414423, 205014, 815335, 140176, 9559...","[1.0000000074842705, 0.48938543442887494, 0.4845394132067774, 0.4778556198287305, 0.4747312631328243, 0.463755730200894, 0.46303331823589533, 0.4624616814044821, 0.46080084719982534, 0.45879293725..."
4,910002,"[910002, 490989, 57211, 914293, 442802, 185148, 594268, 737639, 57072, 55347, 487771, 239022, 1050759, 733214, 235654, 59204, 184097, 489476, 64894, 188880, 588396, 524284, 768525, 15107, 769145, ...","[1.000000020041603, 0.7295340991209922, 0.7236776448102081, 0.7230887217258574, 0.722400619894437, 0.7218159408211805, 0.7216246604867983, 0.7181317479407374, 0.7177606301330373, 0.717526379997592..."

In [ ]:
# explode lists to get vertical representation
recs = recs.set_index('user_id').apply(pd.Series.explode).reset_index()

In [ ]:
recs.loc[recs['similarity'] >= 1]

         user_id similar_user_id similarity
0        1016458         1016458        1.0
90       1072552         1072552        1.0
120       910002          910002        1.0
150       379585          379585        1.0
180      1061176         1061176        1.0
...          ...             ...        ...
3058176  1046444          491455        1.0
3058177  1046444          993560        1.0
3058178  1046444          666404        1.0
3058179  1046444          533291        1.0
3058180   974756          974756        1.0

[465141 rows x 3 columns]

In [ ]:
recs.head(30 + 5)

    user_id similar_user_id similarity
0   1016458         1016458        1.0
1   1016458          416417   0.614367
2   1016458          859673    0.61151
3   1016458          494256   0.603112
4   1016458          414523   0.601604
5   1016458          254272    0.59566
6   1016458          101745   0.595189
7   1016458           50573   0.591098
8   1016458           55914   0.590196
9   1016458          589357   0.589935
10  1016458          979361   0.588256
11  1016458          742779   0.587496
12  1016458          207723   0.587372
13  1016458          313525   0.586527
14  1016458          911195   0.586467
15  1016458           85581   0.586325
16  1016458          290121   0.586005
17  1016458          797403    0.58539
18  1016458          141043   0.585176
19  1016458          852836   0.584666
20  1016458          820008   0.583909
21  1016458          442744   0.583876
22  1016458          644153   0.583852
23  1016458          545951   0.583334
24  1016458          306461   0.582801
25  1016458           27464   0.582421
26  1016458          710496   0.582395
27  1016458          969009   0.582373
28  1016458          322072   0.582039
29  1016458          303638   0.581909
30    68478           68478        1.0
31    68478           20161   0.773989
32    68478          412019   0.773989
33    68478          620526   0.773989
34    68478          695810   0.773989

In [ ]:
# delete recommendations of itself 
recs = recs[~(recs['similarity'] >= 1)]

In [ ]:
recs.shape

(2593099, 3)

## 4. Join watched items of neighbour users to get item recommendations

In [ ]:
watched = train.groupby('user_id').agg({'item_id': list})
watched.head()

                                                                                                                                                                                                         item_id
user_id
0                                                                                                                                                                        [7102, 14359, 15297, 6006, 9728, 12192]
2        [7571, 3541, 15266, 13867, 12841, 10770, 4475, 9506, 8936, 11018, 11577, 561, 7106, 6774, 16029, 8482, 6825, 3594, 16166, 5819, 2954, 383, 11689, 12449, 2025, 6155, 3628, 334, 4024, 7210, 11539, 1...
3                                                                                       [9728, 16406, 10440, 3475, 4151, 1418, 2220, 3734, 13789, 8581, 13849, 9550, 10464, 4880, 4436, 8801, 11790, 2657, 8252]
4                                                                                                                                                                                                   [4700, 6317]
5                                                                                                     [14397, 6445, 11437, 5651, 6167, 12466, 632, 8450, 2685, 7825, 3145, 7043, 4179, 15890, 5115, 4719, 10848]

In [ ]:
# join watched items
recs = recs.merge(watched, left_on=['similar_user_id'], right_on=['user_id'], how='left')
recs = recs.explode('item_id')

In [ ]:
recs.head()

   user_id similar_user_id similarity item_id
0  1016458          416417   0.614367   11138
0  1016458          416417   0.614367   10464
0  1016458          416417   0.614367    5287
0  1016458          416417   0.614367   14961
0  1016458          416417   0.614367    7448

In [ ]:
# drop duplicates pairs user_id-item_id 
# keep with the largest similiarity
recs = recs.sort_values(['user_id', 'similarity'], ascending=False)
recs.head()

         user_id similar_user_id similarity item_id
2438492  1097544          412291   0.704641    8636
2438492  1097544          412291   0.704641    7829
2438492  1097544          412291   0.704641    9996
2438493  1097544          426470   0.704458    7829
2438494  1097544          735025   0.704458    7829

In [ ]:
recs = recs.drop_duplicates(['user_id', 'item_id'], keep='first')

In [ ]:
recs.shape

(4887448, 4)

## 5. Make `rank` from similarity

### 5.1 `idf` for each item

`document frequency (= recommendation list frequency) of the item` in this case is just a count of item in dataframe (because item can appear only no more than once in a recommended list)

In [ ]:
from collections import Counter
cnt = Counter(train['item_id'].values)

In [ ]:
# convert counter to dataframe
idf = pd.DataFrame.from_dict(cnt, orient='index', columns=['doc_freq']).reset_index()
idf.head()

   index  doc_freq
0   9506      3407
1   1659       891
2   7107     16279
3   7638      1067
4   6686      1529

In [ ]:
# num of documents = num of recommendation list = dataframe shape
n = train.shape[0]
idf['idf'] = idf['doc_freq'].apply(lambda x: np.log((1 + n) / (1 + x) + 1))

- `idf` is greater for `non-popular` items 
- in the one user recommendation all similarities are the same

=> we highlight less popular items in the user recommendation

In [ ]:
idf.head()

   index  doc_freq       idf
0   9506      3407  7.205753
1   1659       891  8.545620
2   7107     16279  5.644741
3   7638      1067  8.365581
4   6686      1529  8.006202

In [ ]:
# join idf 
recs = recs\
    .merge(
        idf[['index', 'idf']], 
        left_on='item_id',
        right_on='index',
        how='left')\
    .drop(['index'], axis=1)

recs.head()

   user_id similar_user_id similarity item_id       idf
0  1097544          412291   0.704641    8636  4.958912
1  1097544          412291   0.704641    7829  5.770857
2  1097544          412291   0.704641    9996  4.928260
3  1097534         1097534        1.0    9996  4.928260
4  1097534         1097534        1.0    9728  3.792339

In [ ]:
recs['rank_idf'] = recs['similarity'] * recs['idf']

In [ ]:
recs.head()

   user_id similar_user_id similarity item_id       idf  rank_idf
0  1097544          412291   0.704641    8636  4.958912  3.494255
1  1097544          412291   0.704641    7829  5.770857  4.066384
2  1097544          412291   0.704641    9996  4.928260  3.472656
3  1097534         1097534        1.0    9996  4.928260   4.92826
4  1097534         1097534        1.0    9728  3.792339  3.792339

In [ ]:
# make order by rank_idf 
recs = recs.sort_values(['user_id', 'rank_idf'], ascending=False)

In [ ]:
# make rank
recs['rank'] = recs.groupby('user_id').cumcount() + 1

In [ ]:
recs.head()

    user_id similar_user_id similarity item_id        idf  rank_idf  rank
1   1097544          412291   0.704641    7829   5.770857  4.066384     1
0   1097544          412291   0.704641    8636   4.958912  3.494255     2
2   1097544          412291   0.704641    9996   4.928260  3.472656     3
92  1097534          680867   0.919573     995  11.048448  10.15985     1
19  1097534         1081871   0.942736    8586   9.870883  9.305635     2

### 5.2 Fill recommendation with popular items if user doesn't have enough neighbors or is 'cold'

In [ ]:
def fill_recs_with_pop_items(pop_model, recs, dataset, N_recs = 10):
  popular_items = pop_model.recommend(
        dataset.user_id_map.external_ids[:1], 
        dataset=dataset, 
        k=N_recs, 
        filter_viewed=False  # False - same items to every user
    )['item_id'].tolist()
  
  user_ids = recs['user_id'].unique()

  pop_df = pd.DataFrame(np.resize(user_ids.tolist(), len(user_ids.tolist())))
  pop_df.columns = ['user_id']
  pop_df['item_id'] = [popular_items] * len(pop_df)
  pop_df = pop_df.explode('item_id')

  recs = recs.append(pop_df, ignore_index=True)
  recs['rank'] = recs.groupby('user_id').cumcount() + 1
  recs = recs.loc[recs['rank'] <= N_recs]

  return recs

In [ ]:
recs_knn_and_pop = fill_recs_with_pop_items(pop, recs, dataset, 10)

## 6. Metrics

In [ ]:
from rectools.metrics import Precision, Recall, MeanInvUserFreq, Serendipity, calc_metrics, MAP

# calculate several classic (precision@k and recall@k) and "beyond accuracy" metrics
metrics = {
    "map@10": MAP(k=10),
    "prec@10": Precision(k=10),
    "recall@10": Recall(k=10),
    "novelty": MeanInvUserFreq(k=10),
    "serendipity": Serendipity(k=10),
}

catalog = train['item_id'].unique()
    
metric_values_only_userknn = calc_metrics(
            metrics,
            reco=recs,
            interactions=test,
            prev_interactions=train,
            catalog=catalog
        )

metric_values_userknn_and_pop = calc_metrics(
            metrics,
            reco=recs_knn_and_pop,
            interactions=test,
            prev_interactions=train,
            catalog=catalog
        )

In [ ]:
metric_values_only_userknn

{'prec@10': 0.0020689722796936746,
 'recall@10': 0.009460160471322412,
 'map@10': 0.0019812212483438455,
 'novelty': 10.191797483381356,
 'serendipity': 6.499134741537922e-05}

In [ ]:
metric_values_userknn_and_pop

{'prec@10': 0.006680525185570145,
 'recall@10': 0.033405310481078705,
 'map@10': 0.007107774500497434,
 'novelty': 9.629053279019649,
 'serendipity': 6.32722216813421e-05}

Ð—Ð°Ð¼ÐµÑ‚Ð½Ð¾, Ñ‡Ñ‚Ð¾ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð¼ÐµÑ‚Ñ€Ð¸Ðº prec@10, recall@10 Ð¸ map@10 Ð²Ñ‹Ñ€Ð¾ÑÐ»Ð¸ Ð² Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ñ€Ð°Ð· Ð¿Ñ€Ð¸ Ð´Ð¾Ð¿Ð¾Ð»Ð½Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾Ð¹ Ð²Ñ‹Ð´Ð°Ñ‡Ðµ Ð¿Ð¾Ð¿ÑƒÐ»ÑÑ€Ð½Ñ‹Ñ… Ð°Ð¹Ñ‚ÐµÐ¼Ð¾Ð² Ð´Ð»Ñ "Ñ…Ð¾Ð»Ð¾Ð´Ð½Ñ‹Ñ…" ÑŽÐ·ÐµÑ€Ð¾Ð². ÐžÐ´Ð½Ð°ÐºÐ¾ novelty Ð¸ serendipity Ð½ÐµÐ¼Ð½Ð¾Ð³Ð¾ ÑƒÐ¿Ð°Ð»Ð¸, Ñ‡Ñ‚Ð¾ ÑÐ²Ð¾Ð¹ÑÑ‚Ð²ÐµÐ½Ð½Ð¾ Ð´Ð»Ñ Ñ€ÐµÐºÐ¾Ð¼ÐµÐ½Ð´Ð°Ñ†Ð¸Ð¹ Ñ‚Ð¾Ð»ÑŒÐºÐ¾ Ð¿Ð¾ Ð¿Ð¾Ð¿ÑƒÐ»ÑÑ€Ð½Ñ‹Ð¼ Ð°Ð¹Ñ‚ÐµÐ¼Ð°Ð¼